@font-face {
  font-family: sf-pro-display;
  src: url(sf-pro-display/SFPRODISPLAYREGULAR.OTF);
}

.background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Keeps the iframe in the background */
  }

  body{
    padding: 0%;
    margin: 0%;
    font-family: sf-pro-display;
  }
  
  li{
    list-style-type: none;
  
  }

  ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  li a {
    text-decoration: none;
    color: white;

  }

  .navbar{
    
  }


/* Nav Bar - - - - -  - - - --  --  --  - ---  --  */
